.main_footer {
  color: #edf0f1;
  padding: 15px 10%;
  font-size: 13px;
}

#footer_links li {
  display: inline-block;
  padding: 0px 20px;
}

.footer_right {
  float: right;
}

.footer_right a {
  text-decoration: none;
  color: #edf0f1;
  transition: all 0.3s ease 0s;
}

.footer_right a:hover {
  color: #0088a9;
}
