.property {
  border-bottom: 1px solid #24252a;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #0088a9;
}

.property a {
  transition: all 0.3s ease 0s;
  color: #edf0f1;
  text-decoration: none;
  background-color: #0088a9;
}

.property #listReservations {
  border-top: 1px solid #edf0f1;
}

.property h3 {
  text-align: center;
}

.property h4 {
  text-align: center;
  color: #edf0f1;
  background-color: #0088a9;
  padding: 5px;
}

.property main {
  background-color: #0088a9;
}

.property button {
 color: #0088a9;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 20px;
  border: 2px solid #24252a;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #edf0f1;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.property button:not(:first-of-type) {
  margin-bottom: 10px;
}

.property button i {
  background-color: #edf0f1;
}

#add_prop {
  background-color: #0088a9;
  padding-right: 10%;
  padding-left: 10%;
  font-weight: 500;
  color: #edf0f1;
}

#add_prop h1 {
  color: #edf0f1;
  background-color: #0088a9;
  padding: 30px 10%;
  text-align: center;
}

#add_prop h2 {
  color: #edf0f1;
  background-color: #0088a9;
  padding: 30px 10%;
}

#add_prop input {
  width: 100%;
  color: #edf0f1;
  padding: 15px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

/* Mark input boxes that gets an error on validation: */
#add_prop input.invalid {
  background-color: #d8000c;
  opacity: 0.5;
}

/* Hide all steps by default: */
.tab {
  display: none;
  background-color: #0088a9;
  border: 2px solid #edf0f1;
  padding: 10px 10px;
  border-radius: 3px;
}

#add_prop button {
  color: #0088a9;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 20px;
  border: 2px solid #24252a;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #edf0f1;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.button_prop {
  background-color: #0088a9;
}

#btn_prop {
  background-color: #0088a9;
  display: inline-block;
}

#add_prop button:hover {
  opacity: 0.8;
  box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.2);
}

#prevBtn {
  background-color: #edf0f1;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #edf0f1;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #0088a9;
  border: 2px solid #edf0f1;
}

 .row > .column {
  padding: 0 8px;
}
.column
{
  background-color: #0088a9;
  text-align: center;

}
.row:after {
  content: "";
  display: table;
  clear: both;

}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  border-radius: 4px;
  width: 40%;
  height: 40%;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}