.rental {
  transition: all 0.3s ease 0s;
  color: #edf0f1;
  text-decoration: none;
  background-color: #0088a9;
}

.rental article {
  border-bottom: 2px solid #24252a;
}

.rental article:hover {
  border: 1px solid #edf0f1;
}

.rental h3 {
  margin-top: -5px;
  text-align: center;
}

.rental h4 {
  text-align: center;
  color: #edf0f1;
  background-color: #0088a9;
}

.rental h5 {
  background-color: #0088a9;
  color: #edf0f1;
}

.rental img {
  padding-top: 8px;
  background-color: #0088a9;
  width: 50%;
  height: 50%;
  border-radius: 5px;
}

.rental .row {
  width: 100%;
  display: inline-block;
  background-color: #0088a9;
}

.rental .column {
  float: left;
  width: 33.33%;
  text-align: center;
  background-color: #0088a9;
}

.rental button {
  display: inline;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #0088a9;
}

.rental header {
  background-color: #0088a9;
}

.rental h2 {
  text-align: center;
}

.rental button i {
  color: #d8000c;
  background-color: #0088a9;
}

.add_menu {
  background-color: #0088a9;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add_menu button {
  color: #0088a9;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 20px;
  border: 2px solid #24252a;
  border-radius: 5px;
  cursor: pointer;
  background-color: #edf0f1;
  transition: all 0.3s ease 0s;
  width: 20%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add_menu button:hover {
  opacity: 0.9;
  box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.2);
}
